/* the universal selector will all have box sizing as border-box and pading and margins of 0 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* The body tag will show a background color of #d9dcd6*/
body {
    background-color: #d9dcd6;
}
 
/* The header now includes the links within the document so that when the assistive reader readers the document it begins with "header" and reads the links for the user
padding will all be 20px and follows the font family of 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The header h1 now has inline-block display to fall under the header tag in an inline block display and font size of 48px*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* The nav tag now properly navigates and tells the assistive reader where the links go within the webpage and is grouped within the header of the document and also groups all the links together in a nav functionality
and floats to the right of the page within the header*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* The nav tag now properly displays no list style types to match the mock*/
nav ul {
    list-style-type: none;
}

/* The nav tag now properly shows inline-block display so that it is inline within the header*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* The background image originally tagged as hero is now more descriptive as a div area for the reader to know that the document has a background image area which is embedded in the css as URL */
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main groups all the content section of this document and and selectors and properties are all contained within the main area*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* content section which is contained in the main area of the webpage now has a grouped selectors and one property of content section so that it is more organized and semantic */
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* images within the content section will now have a more organized structure so that all images are 200px within the content section
and makes sure all images are 200px */
.content-section img {
    max-height: 200px;
}

/* h2 text within the content section will now have a more organized structure so that all images are 200px within the content section */
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* will float the content section to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* floats the aside/benefits section to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* benefits was added as an id so that all the aside would have an id of benefits*/
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* a new class was added so that the properties within the aside section would all fall under the benefits-aside*/
.benefit-aside {
    margin-bottom: 32px;
    color: #ffffff;
}
/* h3 text of the benefit aside will be aligned in the center at a 10px margin */
.benefit-aside h3 {
    margin-bottom: 10px;
    text-align: center;

}

/* displays images in the aside as block with margins 10px auto and max width of 150px*/
.benefit-aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* a footer selector was maintained but now has its own tag under the html so now the css will have its own selector to match the new semantic structure of the html document*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer font to be deployed at 20px */
footer h2 {
    font-size: 20px;
}
